{% extends 'base.html.twig' %}

{% block title %}Etudient index{% endblock %}

{% block body %}
    <h1>Etudient index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Fullname</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Cin</th>
                <th>CLASSE</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudient in etudients %}
            <tr>
               
                <td>{{ etudient.fullname }}</td>
                <td>{{ etudient.email }}</td>
                <td>{{ etudient.tel }}</td>
                <td>{{ etudient.cin }}</td>
                 <td>{{ etudient.classe }}</td>
                <td>
                    <a class="genric-btn info" href="{{ path('etudient_show', {'id': etudient.id}) }}">show</a>
                    <a class="genric-btn primary" href="{{ path('etudient_edit', {'id': etudient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('etudient_new') }}">Create new</a>
{% endblock %}
